
{% extends 'base.html'%} 
{% import 'macros.html' as macro %}   
<!-- Style block -->
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> 
{% endblock %}  
<!-- Content block--> 
{% block content %} 
<div>
  {{ macro.displayNewsList(general)}}
</div>

<div class="container" style="background-color: blanchedalmond;">
  <div class="row">
    
    <div  class="col-md-4 " id="1" >
      <h2>General</h2>
      
      {% for source in general %}
      <p style="font-size:115%;"><a href="/news/{{source.id}}">{{source.name}}</a></p>
          
      {% endfor %}
        
        
      <p>{{ macro.displayNewsList(general)}}</p>
       <hr>
      
    </div>
    <div class="col-md-4" id="2" >
      <h2>Sports</h2>
      
      {% for source in sports %}
      <p style="font-size:115%;"><a href="/news/{{source.id}}">{{source.name}}</a></p>
          
      {% endfor %}
        
        
      <p>{{ macro.displayNewsList(general)}}</p>
       <hr>

    </div>
    <div class="col-md-4" id="3">
      <h2>Entertainment</h2>
      
      {% for source in entertainment %}
      <p style="font-size:115%;"><a href="/news/{{source.id}}">{{source.name}}</a></p>
          
      {% endfor %}
        
        
      <p>{{ macro.displayNewsList(general)}}</p>
       <hr>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4" id="4">
      <h2>Business</h2>
      
      {% for source in business %}
      <p style="font-size:115%;"><a href="/news/{{source.id}}">{{source.name}}</a></p>
          
      {% endfor %}
        
        
      <p>{{ macro.displayNewsList(general)}}</p>
       <hr>
    </div>
    <div class="col-md-4" id="5">
      <h2>Technology</h2>
      
      {% for source in technology %}
      <p style="font-size:115%;"><a href="/news/{{source.id}}">{{source.name}}</a></p>
          
      {% endfor %}
        
        
      <p>{{ macro.displayNewsList(general)}}</p>
       <hr>
    </div>
    <div class="col-md-4" id="6">
      <h2>Science</h2>
      
      {% for source in science %}
      <p style="font-size:115%;"><a href="/news/{{source.id}}">{{source.name}}</a></p>
          
      {% endfor %}
        
        
      <p>{{ macro.displayNewsList(general)}}</p>
       <hr>
    </div>

  </div>

</div>

  
{% endblock %}   

